<div class="container mt-4">
    <h1 class="text-center" style='font-weight: 500;'>ABOUT ME</h1>
    <div class="mt-4">
        <div class="row introduce">
            <div class="col-md-4">
                <img src="assets/cong viec.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Tôi tên là Nguyễn Văn Tiến.</h2>
                    <h4 class="card-text">Mong muốn áp dụng những kiến thức đã học và kinh nghiệm tự tích luỹ của bản
                        thân. Mong muốn làm việc trong lĩnh vực IT - Phần cứng - Mạng - Hỗ trợ kỹ thuật người dùng nội
                        bộ công ty để phát huy khả năng của mình. Mong được học tập
                        trao dồi kiến thức và phát triển trong ngành IT. Luôn cố gắng tìm tòi học hỏi cái mới và bổ sung
                        kiến thức chuyên môn để nâng cao hiệu quả làm việc. Có khả năng test các sản phẩn cứng và phần
                        mềm</h4>
                </div>
            </div>
        </div>
    </div>
</div>
