<div class="container">
    <div class="mt-4" id="home">
        <div class="row introduce">
            <div class="col-md-4">
                <img src="assets/banner3.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Xin chào, tôi là Tiến</h2>
                    <h4 class="card-text">Tôi viết blog này vào ngày 08/11/2022. Là nơi tôi ghi thông cá nhân về quá
                        trình học tập và làm việc của mình</h4>
                    <a href="#about"><button class="btn btn-primary">View More</button></a>
                    <div class="mt-3">
                        <a href="https://github.com/nvtien12/nvtien12.github.io"><i
                                class="bi bi-github primary ms-2"></i></a>
                        <a href="https://www.instagram.com/nguyenvantien727/"><i
                                class="bi bi-instagram primary ms-3"></i></a>
                        <a href="https://www.facebook.com/vtmbmt1125"><i class="bi bi-facebook primary ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-about id="about"></app-about>
<app-edu id="edu"></app-edu>
<app-news id="news"></app-news>
<app-works id="works"></app-works>
<app-contact id="contact"></app-contact>
