<div class="container mt-4">
    <h1 class="text-center" style='font-weight: 500;'>WORKS</h1>
    <div class="mt-4">
        <div class="row introduce">
            <div class="col-md-4">
                <img src="assets/it 1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">CÔNG TY CỔ PHẦN HỆ THỐNG CÔNG NGHỆ HOÀNG HẢI
                    </h2>
                    <P class="card-text">2017 - 08/2018</P>
                    <h4 class="card-text">Thi công dự án</h4>
                    <h4 class="card-text">Xử lí xự cố hệ thống công ty đối tác</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/it 2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">CÔNG TY TNHH TM TÂN LOAN
                    </h2>
                    <P class="card-text">09/2018 - 03/2022</P>
                    <h4 class="card-text">Quản lí fanpage và website công ty</h4>
                    <h4 class="card-text">Khắc phục sự cố thiết bị người dùng,quản lí hệ thông server, camera, router,
                        switch, hệ thống mạng, liên lạc đối tác xư lí các sự cố gặp phải</h4>
                </div>
            </div>
        </div>
    </div>
</div>